<nav class="navbar navbar-expand-sm bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Movies</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex" role="search">
          <input #txtSearch (keyup.enter)="searchFilm(txtSearch.value)" class="form-control me-2" type="search" placeholder="Search a film" aria-label="Search">
          <button class="btn btn-outline-success" (click)="searchFilm(txtSearch.value)" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>